body { font-family:sans-serif; text-align:center; }
#hand { display:flex; overflow-x:auto; margin-top:10px;}
.card {
  padding:15px; margin:5px; border-radius:10px; background:#eee;
  min-width:60px; cursor:pointer;
}
